.body{
  margin:0;
}
.header{
  display:flex;
  width:100%;
  background-color:#669900;
  height:200px;
}
.num{
  display:flex;
  align-items:flex-end;
  width:100%;
  margin-right:15%;
  justify-content:flex-end;
}
.first,.second,.four,.third{
  height:40px;
  background-color:#99e600;
  width:30px;
  border:1px solid black;
  margin-left:10px;
  margin-bottom:20px;
  text-align:center;
}
.third{
  height:50px;
  background-color:white;
}

.extra{
  margin:25px 0 0 15%;
}
.home,.profile,.about{
  float:left;
  border:1px solid #bfbfbf;
  border-radius:8px 8px 0 0;
  height:3rem;
  width:6rem;
  text-align:center;
  line-height:3rem;
  border-bottom:none;
}
.profile,.about{
  background-color:#cccccc;
}

.content{
  clear:both;
  margin:100px 15% 0 15%;
}
.content1,.content2,.content3,.content4,.content5,.content6,.content6,
.content7,.content8,.content9,.content10{
  float:left;
  box-sizing:border-box;
  height:120px;
  border:1px solid #bfbfbf;
  line-height:7rem;
  text-align:center;
  margin-bottom:20px;
}
.content1,.content2,.content3,.content8,.content9,.content10{
  width:calc((100% - 40px)/3);
}
.content4,.content5,.content6,.content7{
  width:calc((100% - 60px)/4);
}
.content4,.content5,.content6{
  margin-right:20px;
}
.content3,.content10{
  float:right;
}
.content1,.content2,.content8,.content9{
  margin-right:20px;
}

/*.content1,.content2,.content3,.content8,.content9,.content10{
  width:100px;;
  height:50px;
  background-color:pink;
}
.content1,.content4,.content8{
  float:left;
}
.content3,.content7,.content10{
  float:right;
}
